.header__list-item {
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: white;
    margin-left: 18px;
    
  }
  .header__list-item:last-of-type{
  text-decoration: none;
  }
  