.header__list-item_active {
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: white;
    margin-left: 18px;
    text-decoration: underline;
 }
 @media screen and (max-width: 767px) {
    .header__list-item_active {
     width: 22px;
     height: 20px;
     font-size: 18px;
     line-height: 20px;
    }
}
 